<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <div class="container content">
      <div class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/"><img alt="" src="{{ site.baseurl }}/public/logo.png" style="width:9.0em;margin-top:1.5em;float:left"/></a>
          <canvas id="my_canvas" style="height:222px;float:right"></canvas>
          <script type="text/javascript">
            //WordCloud.miniumFontSize = 30;
            WordCloud(document.getElementById('my_canvas'), { 
              gridSize: 3,
              weightFactor: 2,
              fontFamily: 'sans-serif',
              color: function (word, weight) {
                return (weight === 13 || weight == 8) ? '#444' : (weight == 12 ) ? '#268bd2' : '#ccc';
              },
              origin: [0,200],
              hover: window.drawBox,
              click: function(item) {
                alert(item[0] + ': ' + item[1]);
              },
              backgroundColor: '#FFF',
              list: [
                ['Funk',13],
                ['Deep',12],
                ['Groovebox',12],
                ['Groove',11],
                ['Electribe',10],
                ['Dubtechno',5],
                ['Sampler',6],
                ['MIDI',7],
                ['Housemusic',6],
                ['Chicago',5],
                ['Liveset',8],
                ['Creativity',6],
                ['Disco',6],
                ['Jackin',10],
                ['AddictiveLoops',8],
                ['Soultech',7],
                ['Dawless',7],
                ['Computerfree',5],
                ['Musician',5]
              ] 
            });
          </script>
          <div style="clear:both"></div>
          <div>
            <a href="{{ site.baseurl }}/"><small>/hΩme</small></a>
            <a href="https://soundcloud.com/leon-du-star" target="_blank"><small>/♬</small></a>
            <a href="{{ site.baseurl }}/2010/11/18/about/"><small>/∧bout</small></a>
            <a href="{{ site.baseurl }}/" title="Home" style="font-size:0.5em">&nbsp;{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
            <a style="float:left;margin-right:0.5em"  href="http://twitter.com/leondustar" target="_blank"><img src='/public/icon.twitter.png'/></a>
            <a style="float:left;margin-right:0.5em"  href="mailto:info@leondustar.nl" target="_blank"><img src='/public/icon.email.png'/></a>
            <a style="float:left;margin-right:0.5em"  href="/atom.xml" target="_blank"><img src='/public/icon.rss.png'/></a>
          </div>
        </h3>
      </div>

      {{ content }}

      <div class="footer">
        <p>
          <img src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png"/> &copy; {{ site.time | date: '%Y' }}. All rights reserved by Leon Du Star under this <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.en_US" target="_blank">license</a>.
        </p>
      </div>
    </div>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-20705207-1', 'auto');
      ga('send', 'pageview');
    
    </script>    
    
  </body>
</html>
